* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 100px;
    height: auto;
    padding: 10px;
}

.content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.content form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content input {
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.content .msg_success {
    color: #32712C;
}

.content .msg_error {
    color: #780116;
}