{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block navbar %}
	<div class="navbar">
		<img src="{{ asset('img/logo.png') }}">
	</div>
{% endblock %}
{% block title %}Cadastro de Usuários
{% endblock %}
{% block body %}
	<div class="content">
		<h1>Cadastro de Usuário</h1>
		<div class="container">
			<p class="msg_success"><strong>{{ user_name }}</strong> cadastrado com sucesso!</p>
		</div>
		<a href="{{ url('web_user_index') }}">Voltar</a>
	</div>
{% endblock %}
